@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    background: #1E90FF;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {

    padding: 50px;
    
    display: flex;
    flex-direction: column;
    text-align: center;

    ul {
        padding: 0;
        list-style: none;

        li {
            font-size: 50px;
            padding: 20px;
            background: #E6E6E6;
            width: 35%;
            margin: 0 auto;
            margin-bottom: 15px;

            transition: opacity 0.2s ease-in-out;

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }

    #title {
        font-size: 75px;
        font-weight: bold;
        padding: 25px;
        background-color: black;
        color: white;
        width: 50%;
        margin: 0 auto;
    }

    #answerCheck, #score{
        font-weight: bold;
        font-size: 50px;
        color: white;
    }

}

@media only screen and (max-width: 768px) {
    .container {
        padding: 20px;

        ul {
            li.alternative {
                width: 75%;
            }
        }
    }
}